.h{
color:#FFEFD5;
}
.content{
	text-align: center
}
body{
 background-image: url("Image from iOS (4).jpg")
 

}
input-task{
	height:200px;
    
}

button.btn{
	color: white;
	background-color:red;
	border: none;
  padding: 15px 32px;
  text-align: center;
 font-size: 18px;
  
 

}
a {font-size: 30px}
a:hover {
  color: red;
}
h3{
	 color:#FFEBCD;
	 

}


.animation{  position: relative;
  animation: mymove 5s infinite;
}
  @keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
.column {
  float: left;
  padding: 5px;
}
.inpbtn{
 float: center;	
  margin-bottom: 60px;
}
.readyornot{
	text-align: center;
}